.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

#ignore checkpoints
.ipynb_checkpoints/

# Local History for Visual Studio Code
.history/

# Do not push the dataset and others images
Dataset/

# Temp ignore the checkpoints folder
checkpoints/
